// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import "main_header.scss";




.login-bg{
    background-image: url("../images/login-bg-v6.jpg");
    height: calc(100vh - 59px);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
@media screen and (max-width: 992px) {
    .login-bg{
        background-image: url("../images/login-bg-v6.jpg");
        height: auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

    }
}



table.dataTable tbody>tr.selected, table.dataTable tbody>tr>.selected {
    background-color: #4185f433;
}

table.table a {
    margin: 0;
    color: #007bff;
}


.z-index-1000{
    z-index: 1000;
}
.profile-image-size{
    width: 35px;
}

.btn-rounded{
    border-radius: 150px;
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 47px;
    height: 47px;
    &:hover{
        -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
}

.favourite-btn{
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
    background-color: rgba(255,255,255, 0.2);
    color: #fff;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover{
        color: #ec407a;
        background-color: rgba(255,255,255, 0.4);
        width: 40px;
        height: 40px;
    }
}

.shelter-info{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 999;
    height: 50px;
}

.login-by-btn{
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255, 0.4);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover{
        color: #ec407a;
        background-color: rgba(255,255,255, 0.4);
        width: 60px;
        height: 60px;
    }
}

.cursor-pointer{
    cursor: pointer;
}

.text-transform-none{
    text-transform: none !important;
}
.btn-popular-result{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
    margin: 0.25rem !important;
}

.text-title{
    color: #484848;
}

.btn:focus{
    outline: 0 !important;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.nav-btn-search{
    opacity: 0;
    top: -100px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.border-none{
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.0), 0 2px 10px 0 rgba(0,0,0,0.0);
}

.border-none-shadow{
    border: none !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.0), 0 2px 10px 0 rgba(0,0,0,0.0) !important;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover{
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12) !important;
    }
}

.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}


.dropdown-content li>a, .dropdown-content li>span {
    display: block;
    padding: .5rem;
    font-size: .9rem;
    color: #484848;
}

.card-shelter-photo{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-black-50{
    background-color: #00000059;
}

.blue-text{
    color: #007bff !important;
}

.slide-nav-position{
    top: 7px;
    left: 25px;
}

.ui-autocomplete {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
    padding-left: 0;
    min-width: 160px;
    overflow-y: auto;
    list-style-type: none;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.ui-autocomplete > li > div {
    padding: 12px 15px;
    font-size: .875rem;
    cursor: pointer;
}

.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    padding: 12px 15px;
    font-size: .875rem;
    cursor: pointer;
    background: #eee;
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.slick-max-image-height {
    max-height: 500px;
}

.slick-prev {
    left: -40px;
    z-index: 999;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0px 0px 6px #0000004a;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    &:hover{
        text-shadow: 0px 0px 1px #0000004a;
    }
}






.fa-beat {
    animation:fa-beat 2s ease infinite;
}
@keyframes fa-beat {
    0% {
        transform:scale(1);
    }
    5% {
        transform:scale(1.50);
    }
    20% {
        transform:scale(1);
    }
    30% {
        transform:scale(1);
    }
    35% {
        transform:scale(1.50);
    }
    50% {
        transform:scale(1);
    }
    55% {
        transform:scale(1.50);
    }
    70% {
        transform:scale(1);
    }
}




